
<span>Male</span>
<div ng-repeat="data in vm.maleOwner | orderBy">
    <ul>
        <li>{{data}}</li>
    </ul>
</div>

<span>Female</span>
<div ng-repeat="data in vm.femaleOwner | orderBy">
    <ul>
        <li>{{data}}</li>
    </ul>
</div>